* {
  padding: 0; /* Define o valor da margem horizontal padrao em 0 */
  margin: 0; /* Define o valor da margem vertical padrao em 0 */
  box-sizing: border-box; /* Define o tamanho da borda */
  font-family: "Caveat", cursive; /* Importa a fonte  */
  text-decoration: none;
  list-style: none;
}
:root {
  --text-color: #000000; /* Define cores que seraão utilizadas posteriormentes  */
  --bg-color: #f2dae5; /* Define cores que seraão utilizadas posteriormentes  */
  --main-color: #db818b; /* Define cores que seraão utilizadas posteriormentes  */
  --navegar-color: #f1d2ba; /* Define cores que seraão utilizadas posteriormentes  */
  --header-color: #974459; /* Define cores que seraão utilizadas posteriormentes  */
  --second-clor: #fff; /* Define cores que seraão utilizadas posteriormentes  */
  --big-font: 5.5rem;
  --p-font: 1rem;
}
body {
  background-color: var(--bg-color); /* Define cor de fundo do body*/
  color: var(--text-color); /* NÃO SEI*/
}
header {
  background-color: var(--header-color); /* Define cor de fundo do header*/
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 9%;
  transition: all ease 0.55s; /* cria transição para f5*/
}
.Logo {
  display: flex;
  align-items: center;
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
}
.Logo i {
  vertical-align: middle; /* NÃO SEI*/
  color: var(--main-color);
  font-size: 40px; /* NÃO SEI*/
  margin-right: 5px; /* NÃO SEI*/
}
.Lista_Navegar {
  display: flex;
}
.Lista_Navegar a {
  font-size: 25px; /*Alterando tamanho da fonte*/
  color: var(--text-color); /*alterando Cor da fonte*/
  font-weight: 700; /*Alterando corpo da fonte*/
  margin: 0 35px; /*Criando margen para separar as seções*/
  transition: all ease 0.55s; /*Cria transição para f5*/
}
.Lista_Navegar a:hover {
  color: var(--navegar-color);
  /*Altera a cor opção ao mover o mouse para cima dela*/
}
.Lista_Navegar a.active {
  color: var(--navegar-color); /*Altera a cor da seção atual*/
}
.Adocao {
  display: flex; /*Centralizar*/
  align-items: center; /*Centralizar*/
}
.Adote {
  display: inline-block;
  padding: 10px 25px;
  color: var(--second-clor);
  background: var(--main-color);
  font-size: px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  margin-right: 20px;
  transition: all ease 0.55s;
}
.Adote:hover {
  background: var(--navegar-color);
  border: 2px solid var(--main-color);
  color: var(--text-color);
}

section {
  padding: 0 12%;
}
/* não sei */
.Principal {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}
.Texto_Principal {
  font-size: 20px;
}
.Imagem_Principal {
  height: 500px;
  width: 300px;
}
.Imagem_Principal img {
  width: 100%;
  height: 150%;
  object-fit: contain;
}
.Principais_Imagens {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  align-self: center;
  text-align: center;
}
.Principais_Imagens img {
  height: 200px;
  width: 200px;
}
.Texto_Principal h1 {
  font-size: var(--big-font);
  color: var(--main-color);
  line-height: 2.9;
  font-size: 80px;
}
.Texto_Principal h4 {
  margin: 5px 0 5px;
  color: var(--header-color);
  text-shadow: -0.7px -0.7px 0px #fff, -0.7px 0.7px 0px #fff,
    0.7px -0.7px 0px #fff, 0.7px 0px 0px #fff;
  font-size: 20px;
}
/* .Texto_Principal h3 {
  color: var(--main-color);
} */
.Texto_Principal {
  font-size: 20px;
}
.Caixa {
  background: var(--header-color);
  /* padding: 25px 40px; */
  border-radius: 1rem;
  box-shadow: rgba(33, 35, 38, 01) 0px 15px 10px -10px;
  transition: all ease 0.55s;
  cursor: pointer;
}
.Caixa {
  max-width: 100%;
  height: auto;
}
.Caixa h3 {
  color: var(--main-color);
  font-size: 20px;
  /* font-weight: 400; */
  text-shadow: -0.7px -0.7px 0px #000000, -0.7px 0.7px 0px #000000,
    0.7px -0.7px 0px #000000, 0.7px 0px 0px #000000;
  letter-spacing: 0px;
}
.Caixa:hover {
  transform: translate(-5px) scale(1.1);
}
@media (max-width: 1600px) {
  header {
    padding: 13px 3%;
  }
  section {
    padding: 0 5%;
  }
}
@media (max-width: 1600px) {
  .Imagem_Principal {
    height: 700px;
    width: 500px;
  }
}
